@import "../../variables.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px 0 24px;
  margin: 5px 0 5px 0;
  h1 {
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 110%;
    letter-spacing: 0.02em;
    color: $color-black;
    margin-bottom: 0px;
  }
  .headerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;   
  }
}
